[defaults]
#連線設定
fork = 10
#登入設定
remote_user = rocky
ansible_user = rocky
# remote_user = root
inventory = ELK-sterss-test/inventories/hosts.ini #  ELK-stack-sterss-test/inventories/hosts.ini
#private_key_file = ~/.ssh/kp1750039187490.pem
#配置設定
host_key_checking = False
ask_vault_pass = False
display_skipped_hosts = False
fact_caching_timeout = 1
